@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-gray: #333333;
    --gray-text: #B3B3B3;
    --orange-text: #FBBC0D;

    font-family: Montserrat;
    font-weight: 600;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: var(--dark-gray);
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: var(--dark-gray);
}

*::-webkit-scrollbar:horizontal {
    display: none;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--dark-gray);
}

*::-webkit-scrollbar-thumb:horizontal {
    height: 5px;
    border-radius: 5px;
    background-color: var(--dark-gray);
}

.line {
    border: 1px solid;
    margin: 0 10px;
}

.gray {
    color: var(--gray-text);
}

.red {
    color: red;
    font-size: large;
}

.orange,
.active {
    color: var(--orange-text);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/* details */
details {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

summary::-webkit-details-marker {
    display: none;
}

summary::-moz-list-bullet {
    list-style-type: none;
}

summary::marker {
    display: none;
}

summary {
    display: block;
    padding: .3em 1em .3em .9em;
    border-bottom: 1px solid #e2e8f0;
    font-size: 1.4em;
    cursor: pointer;
    position: relative;
}

summary:before {
    top: .4em;
    right: .3em;
    color: transparent;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTE2LjU5IDguNTlMMTIgMTMuMTcgNy40MSA4LjU5IDYgMTBsNiA2IDYtNnoiIGZpbGw9IiM0ZjQ2ZTUiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
    width: 1em;
    height: 1em;
    content: "";
            position: absolute;
            transition: transform .5s;
    }

    details[open]>summary:before {
        transform: scale(1, -1);
    }

    summary~* {
        padding: 0 1em 10px 1.4em;
    }

    details[open] summary~* {
        animation: sweep .5s ease-in-out;
    }

    @keyframes sweep {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    summary:focus {
        outline: 0;
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.3);
    }
